In [ ]:

!git clone https://github.com/PhonePe/pulse.git

In [9]:
from git import Repo
import os
import pandas as pd
import numpy as np
import mysql.connector
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:

import os
from git import Repo
           
repo_url = "https://github.com/PhonePe/pulse.git"
clone_path = "C:\phonepe_2"
# = r"C:\docs\Projects\Phonepe_pulse\Miscellaneous"
if not os.path.exists(clone_path):
    os.makedirs(clone_path)

repo_path = os.path.join(clone_path, os.path.basename(repo_url).split('.')[0].title())

Repo.clone_from(repo_url, repo_path)

directory = os.path.join(repo_path, 'data')
print(directory)

C:\phonepe_2\Pulse\data

In [3]:
# Function to rename messy state names in a proper format

def rename(directory):
    for root, dirs, files in os.walk(directory):
        if 'state' in dirs:
            state_dir = os.path.join(root, 'state')
            for state_folder in os.listdir(state_dir):
                # rename the state folder
                old_path = os.path.join(state_dir, state_folder)
                new_path = os.path.join(state_dir, state_folder.title().replace('-', ' ').replace('&', 'and'))
                os.rename(old_path, new_path)
    print("Renamed all sub-directories successfully")
                
# Function to extract all paths that has sub-directory in the name of 'state'

def extract_paths(directory):
    path_list = []
    for root, dirs, files in os.walk(directory):
        if os.path.basename(root) == 'state':
            path_list.append(root.replace('\\', '/'))
    return path_list

In [4]:
rename(directory)

Renamed all sub-directories successfully

In [5]:
state_directories = extract_paths(directory)
state_directories

['C:/phonepe_2/Pulse/data/aggregated/transaction/country/india/state',
 'C:/phonepe_2/Pulse/data/aggregated/user/country/india/state',
 'C:/phonepe_2/Pulse/data/map/transaction/hover/country/india/state',
 'C:/phonepe_2/Pulse/data/map/user/hover/country/india/state',
 'C:/phonepe_2/Pulse/data/top/transaction/country/india/state',
 'C:/phonepe_2/Pulse/data/top/user/country/india/state']

In [7]:
state_directories = extract_paths(directory)
state_directories

['C:/phonepe_2/Pulse/data/aggregated/transaction/country/india/state',
 'C:/phonepe_2/Pulse/data/aggregated/user/country/india/state',
 'C:/phonepe_2/Pulse/data/map/transaction/hover/country/india/state',
 'C:/phonepe_2/Pulse/data/map/user/hover/country/india/state',
 'C:/phonepe_2/Pulse/data/top/transaction/country/india/state',
 'C:/phonepe_2/Pulse/data/top/user/country/india/state']

In [ ]:
#Creating dataframes from cloned json files
#1. Aggregate Transaction

In [16]:
state_path = state_directories[0]
state_list = os.listdir(state_path)
agg_trans_dict = {
                  'State': [], 'Year': [], 'Quarter': [], 'Transaction_type': [],
                  'Transaction_count': [], 'Transaction_amount': []
                  }

for state in state_list:
    year_path = state_path + '/' + state + '/'
    year_list = os.listdir(year_path)
    
    for year in year_list:
        quarter_path = year_path + year + '/'
        quarter_list = os.listdir(quarter_path)
        
        for quarter in quarter_list:
            json_path = quarter_path + quarter
            df = pd.read_json(json_path)
            
            try:
                for transaction_data in df['data']['transactionData']:
                    
                    type = transaction_data['name']
                    count = transaction_data['paymentInstruments'][0]['count']
                    amount = transaction_data['paymentInstruments'][0]['amount']
                    
                    # Appending to agg_trans_dict
                    
                    agg_trans_dict['State'].append(state)
                    agg_trans_dict['Year'].append(year)
                    agg_trans_dict['Quarter'].append(int(quarter.removesuffix('.json')))
                    agg_trans_dict['Transaction_type'].append(type)
                    agg_trans_dict['Transaction_count'].append(count)
                    agg_trans_dict['Transaction_amount'].append(amount)
            except:
                pass
            
agg_trans_df = pd.DataFrame(agg_trans_dict)

In [ ]:
# 2. Aggregate User

In [10]:
state_path = state_directories[1]
state_list = os.listdir(state_path)
agg_user_dict = {
                 'State': [], 'Year': [], 'Quarter': [], 'Brand': [],
                 'Transaction_count': [], 'Percentage': []
                 }

for state in state_list:
    year_path = state_path + '/' + state + '/'
    year_list = os.listdir(year_path)
    
    for year in year_list:
        quarter_path = year_path + year + '/'
        quarter_list = os.listdir(quarter_path)
        
        for quarter in quarter_list:
            json_path = quarter_path + quarter
            df = pd.read_json(json_path)
            
            try:
                for user_data in df['data']['usersByDevice']:

                    brand = user_data['brand']
                    count = user_data['count']
                    percent = user_data['percentage']
                    
                    # Appending to agg_user_dict
                    
                    agg_user_dict['State'].append(state)
                    agg_user_dict['Year'].append(year)
                    agg_user_dict['Quarter'].append(int(quarter.removesuffix('.json')))
                    agg_user_dict['Brand'].append(brand)
                    agg_user_dict['Transaction_count'].append(count)
                    agg_user_dict['Percentage'].append(percent)
            except:
                pass

agg_user_df = pd.DataFrame(agg_user_dict)

In [ ]:
#3. Map Transaction

In [11]:
state_path = state_directories[2]
state_list = os.listdir(state_path)
map_trans_dict = {
                    'State': [], 'Year': [], 'Quarter': [], 'District': [],
                    'Transaction_count': [], 'Transaction_amount': []
                    }

for state in state_list:
    year_path = state_path + '/' + state + '/'
    year_list = os.listdir(year_path)
    
    for year in year_list:
        quarter_path = year_path + year + '/'
        quarter_list = os.listdir(quarter_path)
        
        for quarter in quarter_list:
            json_path = quarter_path + quarter
            df = pd.read_json(json_path)
            
            try:
                for transaction_data in df['data']['hoverDataList']:
                   
                    district = transaction_data['name']
                    count = transaction_data['metric'][0]['count']
                    amount = transaction_data['metric'][0]['amount']
                    
                    # Appending to map_trans_dict
                    
                    map_trans_dict['State'].append(state)
                    map_trans_dict['Year'].append(year)
                    map_trans_dict['Quarter'].append(int(quarter.removesuffix('.json'))) 
                    map_trans_dict['District'].append(district.removesuffix(' district').title().replace(' And', ' and').replace('andaman', 'Andaman'))
                    map_trans_dict['Transaction_count'].append(count)
                    map_trans_dict['Transaction_amount'].append(amount)
            except:
                pass

map_trans_df = pd.DataFrame(map_trans_dict)

In [19]:
map_trans_df

,State,Year,Quarter,District,Transaction_count,Transaction_amount
0,Andaman and Nicobar Islands,2018,1,North and Middle Andaman,442,9.316631e+05
1,Andaman and Nicobar Islands,2018,1,South Andaman,5688,1.256025e+07
2,Andaman and Nicobar Islands,2018,1,Nicobars,528,1.139849e+06
3,Andaman and Nicobar Islands,2018,2,North and Middle Andaman,825,1.317863e+06
4,Andaman and Nicobar Islands,2018,2,South Andaman,9395,2.394824e+07
...,...,...,...,...,...,...
14631,West Bengal,2022,4,Nadia,12690126,2.804568e+10
14632,West Bengal,2022,4,Birbhum,7617444,1.614650e+10
14633,West Bengal,2022,4,Purba Medinipur,14484229,3.309949e+10
14634,West Bengal,2022,4,Maldah,12492746,2.721861e+10
14635,West Bengal,2022,4,Darjiling,8827502,1.801650e+10

In [ ]:
#4. Map User

In [12]:

state_path = state_directories[3]
state_list = os.listdir(state_path)
map_user_dict = {
                 'State': [], 'Year': [], 'Quarter': [], 'District': [],
                 'Registered_users': [], 'App_opens': []
                 }

for state in state_list:
    year_path = state_path + '/' + state + '/'
    year_list = os.listdir(year_path)
    
    for year in year_list:
        quarter_path = year_path + year + '/'
        quarter_list = os.listdir(quarter_path)
        
        for quarter in quarter_list:
            json_path = quarter_path + quarter
            df = pd.read_json(json_path)
            
            try:
                for district, user_data in df['data']['hoverData'].items():
                    
                    reg_user_count = user_data['registeredUsers']
                    app_open_count = user_data['appOpens']
                    
                    # Appending to map_user_dict
                    
                    map_user_dict['State'].append(state)
                    map_user_dict['Year'].append(year)
                    map_user_dict['Quarter'].append(int(quarter.removesuffix('.json')))
                    map_user_dict['District'].append(district.removesuffix(' district').title().replace(' And', ' and').replace('andaman', 'Andaman'))
                    map_user_dict['Registered_users'].append(reg_user_count)
                    map_user_dict['App_opens'].append(app_open_count)
            except:
                pass

map_user_df = pd.DataFrame(map_user_dict)

In [13]:
#5. Top Transaction District-wise

In [22]:
state_path = state_directories[4]
state_list = os.listdir(state_path)
top_trans_dist_dict = {
                        'State': [], 'Year': [], 'Quarter': [], 'District': [],
                        'Transaction_count': [], 'Transaction_amount': []
                        }

for state in state_list:
    year_path = state_path + '/' + state + '/'
    year_list = os.listdir(year_path)
    
    for year in year_list:
        quarter_path = year_path + year + '/'
        quarter_list = os.listdir(quarter_path)
        
        for quarter in quarter_list:
            json_path = quarter_path + quarter
            df = pd.read_json(json_path)
            
            try:
                for district_data in df['data']['districts']:
                    
                    name = district_data['entityName']
                    count = district_data['metric']['count']
                    amount = district_data['metric']['amount']
                    
                    # Appending to top_trans_dist_dict
                    
                    top_trans_dist_dict['State'].append(state)
                    top_trans_dist_dict['Year'].append(year)
                    top_trans_dist_dict['Quarter'].append(int(quarter.removesuffix('.json')))                    
                    top_trans_dist_dict['District'].append(name.title().replace(' And', ' and').replace('andaman', 'Andaman'))
                    top_trans_dist_dict['Transaction_count'].append(count)
                    top_trans_dist_dict['Transaction_amount'].append(amount)
            except:
                pass

top_trans_dist_df = pd.DataFrame(top_trans_dist_dict)

In [198]:
 #6. Top Transaction Pincode-wise

In [14]:
state_path = state_directories[4]
state_list = os.listdir(state_path)
top_trans_pin_dict = {
                        'State': [], 'Year': [], 'Quarter': [], 'Pincode': [],
                        'Transaction_count': [], 'Transaction_amount': []
                        }

for state in state_list:
    year_path = state_path + '/' + state + '/'
    year_list = os.listdir(year_path)
    
    for year in year_list:
        quarter_path = year_path + year + '/'
        quarter_list = os.listdir(quarter_path)
        
        for quarter in quarter_list:
            json_path = quarter_path + quarter
            df = pd.read_json(json_path)
            
            try:
                for regional_data in df['data']['pincodes']:
                    
                    name = regional_data['entityName']
                    count = regional_data['metric']['count']
                    amount = regional_data['metric']['amount']
                    
                    # Appending to top_trans_pin_dict
                    
                    top_trans_pin_dict['State'].append(state)
                    top_trans_pin_dict['Year'].append(year)
                    top_trans_pin_dict['Quarter'].append(int(quarter.removesuffix('.json')))                    
                    top_trans_pin_dict['Pincode'].append(name)
                    top_trans_pin_dict['Transaction_count'].append(count)
                    top_trans_pin_dict['Transaction_amount'].append(amount)
            except:
                pass

top_trans_pin_df = pd.DataFrame(top_trans_pin_dict)

In [202]:
#7. Top User District-wise

In [15]:
state_path = state_directories[5]
state_list = os.listdir(state_path)
top_user_dist_dict = {
                        'State': [], 'Year': [], 'Quarter': [],
                        'District': [], 'Registered_users': []
                        }

for state in state_list:
    year_path = state_path + '/' + state + '/'
    year_list = os.listdir(year_path)
    
    for year in year_list:
        quarter_path = year_path + year + '/'
        quarter_list = os.listdir(quarter_path)
        
        for quarter in quarter_list:
            json_path = quarter_path + quarter
            df = pd.read_json(json_path)
            
            try:
                for district_data in df['data']['districts']:
                    
                    name = district_data['name']
                    count = district_data['registeredUsers']
                    
                    # Appending to top_user_dist_dict
                    
                    top_user_dist_dict['State'].append(state)
                    top_user_dist_dict['Year'].append(year)
                    top_user_dist_dict['Quarter'].append(int(quarter.removesuffix('.json')))
                    top_user_dist_dict['District'].append(name.title().replace(' And', ' and').replace('andaman', 'Andaman'))
                    top_user_dist_dict['Registered_users'].append(count)
            except:
                pass

top_user_dist_df = pd.DataFrame(top_user_dist_dict)

In [206]:
#8. Top User Pincode-wise

In [16]:
state_path = state_directories[5]
state_list = os.listdir(state_path)
top_user_pin_dict = {
                        'State': [], 'Year': [], 'Quarter': [],
                        'Pincode': [], 'Registered_users': []
                        }

for state in state_list:
    year_path = state_path + '/' + state + '/'
    year_list = os.listdir(year_path)
    
    for year in year_list:
        quarter_path = year_path + year + '/'
        quarter_list = os.listdir(quarter_path)
        
        for quarter in quarter_list:
            json_path = quarter_path + quarter
            df = pd.read_json(json_path)
            
            try:
                for regional_data in df['data']['pincodes']:
                    
                    name = regional_data['name']
                    count = regional_data['registeredUsers']
                    
                    # Appending to top_user_pin_dict
                    
                    top_user_pin_dict['State'].append(state)
                    top_user_pin_dict['Year'].append(year)
                    top_user_pin_dict['Quarter'].append(int(quarter.removesuffix('.json')))
                    top_user_pin_dict['Pincode'].append(name)
                    top_user_pin_dict['Registered_users'].append(count)
            except:
                pass

top_user_pin_df = pd.DataFrame(top_user_pin_dict)

In [ ]:
#List of dataframes created so far

In [17]:
df_list = [df for df in globals() if isinstance(globals()[df], pd.core.frame.DataFrame) and df.endswith('_df')]

df_list

['agg_user_df',
 'map_trans_df',
 'map_user_df',
 'top_trans_pin_df',
 'top_user_dist_df',
 'top_user_pin_df']

In [ ]:
#Renaming Delhi districts to manage inconsistency

In [18]:
# As I noticed few district name is mismatched between dfs loaded from pulse and lat_long_df, doing this.

def add_suffix_to_districts(df):
    if 'District' in df.columns and 'State' in df.columns:
        delhi_df = df[df['State'] == 'Delhi']
        
        districts_to_suffix = [d for d in delhi_df['District'].unique() if d != 'Shahdara']
        
        df.loc[(df['State'] == 'Delhi') & (df['District'].isin(districts_to_suffix)), 'District'] = df.loc[(df['State'] == 'Delhi') & (df['District'].isin(districts_to_suffix)), 'District'].apply(lambda x: x + ' Delhi' if 'Delhi' not in x else x)

    return df

for df_name in df_list:
    df = globals()[df_name]
    add_suffix_to_districts(df)

In [ ]:
#Adding Latitude and Longitude columns

In [32]:
import pandas as pd

lat_long_df = pd.read_csv("C:\phone pe\Phonepe_Pulse\Miscellaneous\dist_lat_long.csv")
#lat_long_df = lat_long_df.rename(columns={'Latitude': 'Latitude_y', 'Longitude': 'Longitude_y'})

for df_name in df_list:
    df = globals()[df_name]
    if 'District' in df.columns:
        df = pd.merge(df, lat_long_df, on=['State', 'District'], how='left')
        
        if 'Latitude_y' in df.columns and 'Longitude_y' in df.columns:
            df = df.drop(['Latitude_y', 'Longitude_y'], axis=1)
            
        df = df.rename(columns={'Latitude_x': 'Latitude', 'Longitude_x': 'Longitude'})
        print(df.columns)
        globals()[df_name] = df

Index(['State', 'Year', 'Quarter', 'District', 'Transaction_count',
       'Transaction_amount', 'Latitude', 'Longitude'],
      dtype='object')
Index(['State', 'Year', 'Quarter', 'District', 'Registered_users', 'App_opens',
       'Latitude', 'Longitude'],
      dtype='object')
Index(['State', 'Year', 'Quarter', 'District', 'Transaction_count',
       'Transaction_amount', 'Latitude', 'Longitude'],
      dtype='object')
Index(['State', 'Year', 'Quarter', 'District', 'Registered_users', 'Latitude',
       'Longitude'],
      dtype='object')

In [22]:
def add_region_column(df):
    state_groups = {
        'Northern Region': ['Jammu and Kashmir', 'Himachal Pradesh', 'Punjab', 'Chandigarh', 'Uttarakhand', 'Ladakh', 'Delhi', 'Haryana'],
        'Central Region': ['Uttar Pradesh', 'Madhya Pradesh', 'Chhattisgarh'],
        'Western Region': ['Rajasthan', 'Gujarat', 'Dadra and Nagar Haveli and Daman and Diu', 'Maharashtra'],
        'Eastern Region': ['Bihar', 'Jharkhand', 'Odisha', 'West Bengal', 'Sikkim'],
        'Southern Region': ['Andhra Pradesh', 'Telangana', 'Karnataka', 'Kerala', 'Tamil Nadu', 'Puducherry', 'Goa', 'Lakshadweep', 'Andaman and Nicobar Islands'],
        'North-Eastern Region': ['Assam', 'Meghalaya', 'Manipur', 'Nagaland', 'Tripura', 'Arunachal Pradesh', 'Mizoram']
    }
    
    df['Region'] = df['State'].map({state: region for region, states in state_groups.items() for state in states})
    return df

In [23]:
for df_name in df_list:
    df = globals()[df_name]
    add_region_column(df)

In [24]:

df_list = [df for df in globals() if isinstance(globals()[df], pd.core.frame.DataFrame) and df.endswith('_df')]

df_list

['agg_user_df',
 'map_trans_df',
 'map_user_df',
 'top_trans_pin_df',
 'top_user_dist_df',
 'top_user_pin_df',
 'lat_long_df']

In [25]:
lat_long_df.head()

                         State                  District   Latitude  Longitude
0  Andaman and Nicobar Islands  North and Middle Andaman  11.554828  92.238490
1  Andaman and Nicobar Islands             South Andaman  10.705690  92.487468
2  Andaman and Nicobar Islands                  Nicobars  10.705690  92.487468
3               Andhra Pradesh             East Godavari  17.233496  81.722599
4               Andhra Pradesh                Srikakulam  17.233496  81.722599

In [ ]:
#Columnwise null-count and duplicated_rows-count

In [26]:
for df_name in df_list:
    df = globals()[df_name]
    print(f"{df_name}:")
    print(f"Null count: \n{df.isnull().sum()}")
    print(f"Duplicated rows count: \n{df.duplicated().sum()}")
    print(df.shape)
    print("\n", 25 * "_", "\n")

agg_user_df:
Null count:
State                0
Year                 0
Quarter              0
Brand                0
Transaction_count    0
Percentage           0
Region               0
dtype: int64
Duplicated rows count:
0
(6732, 7)

 _________________________

map_trans_df:
Null count:
State                 0
Year                  0
Quarter               0
District              0
Transaction_count     0
Transaction_amount    0
Region                0
dtype: int64
Duplicated rows count:
0
(14636, 7)

 _________________________

map_user_df:
Null count:
State               0
Year                0
Quarter             0
District            0
Registered_users    0
App_opens           0
Region              0
dtype: int64
Duplicated rows count:
0
(14640, 7)

 _________________________

top_trans_pin_df:
Null count:
State                 0
Year                  0
Quarter               0
Pincode               2
Transaction_count     0
Transaction_amount    0
Region                0
dtype: int64
Duplicated rows count:
0
(7139, 7)

 _________________________

top_user_dist_df:
Null count:
State               0
Year                0
Quarter             0
District            0
Registered_users    0
Region              0
dtype: int64
Duplicated rows count:
0
(5920, 6)

 _________________________

top_user_pin_df:
Null count:
State               0
Year                0
Quarter             0
Pincode             0
Registered_users    0
Region              0
dtype: int64
Duplicated rows count:
0
(7140, 6)

 _________________________

lat_long_df:
Null count:
State        0
District     0
Latitude     0
Longitude    0
dtype: int64
Duplicated rows count:
0
(732, 4)

 _________________________

In [ ]:
#Understanding the dataframes

In [27]:
print('DATAFRAME INFO:\n')

for df_name in df_list:
    df = globals()[df_name]
    print(df_name + ':\n')
    df.info()
    print("\n", 45 * "_", "\n")

DATAFRAME INFO:

agg_user_df:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6732 entries, 0 to 6731
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   State              6732 non-null   object
 1   Year               6732 non-null   object
 2   Quarter            6732 non-null   int64
 3   Brand              6732 non-null   object
 4   Transaction_count  6732 non-null   int64
 5   Percentage         6732 non-null   float64
 6   Region             6732 non-null   object
dtypes: float64(1), int64(2), object(4)
memory usage: 368.3+ KB

 _____________________________________________

map_trans_df:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14636 entries, 0 to 14635
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   State               14636 non-null  object
 1   Year                14636 non-null  object
 2   Quarter             14636 non-null  int64
 3   District            14636 non-null  object
 4   Transaction_count   14636 non-null  int64
 5   Transaction_amount  14636 non-null  float64
 6   Region              14636 non-null  object
dtypes: float64(1), int64(2), object(4)
memory usage: 800.5+ KB

 _____________________________________________

map_user_df:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14640 entries, 0 to 14639
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   State             14640 non-null  object
 1   Year              14640 non-null  object
 2   Quarter           14640 non-null  int64
 3   District          14640 non-null  object
 4   Registered_users  14640 non-null  int64
 5   App_opens         14640 non-null  int64
 6   Region            14640 non-null  object
dtypes: int64(3), object(4)
memory usage: 800.8+ KB

 _____________________________________________

top_trans_pin_df:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7139 entries, 0 to 7138
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   State               7139 non-null   object
 1   Year                7139 non-null   object
 2   Quarter             7139 non-null   int64
 3   Pincode             7137 non-null   object
 4   Transaction_count   7139 non-null   int64
 5   Transaction_amount  7139 non-null   float64
 6   Region              7139 non-null   object
dtypes: float64(1), int64(2), object(4)
memory usage: 390.5+ KB

 _____________________________________________

top_user_dist_df:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5920 entries, 0 to 5919
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   State             5920 non-null   object
 1   Year              5920 non-null   object
 2   Quarter           5920 non-null   int64
 3   District          5920 non-null   object
 4   Registered_users  5920 non-null   int64
 5   Region            5920 non-null   object
dtypes: int64(2), object(4)
memory usage: 277.6+ KB

 _____________________________________________

top_user_pin_df:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7140 entries, 0 to 7139
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   State             7140 non-null   object
 1   Year              7140 non-null   object
 2   Quarter           7140 non-null   int64
 3   Pincode           7140 non-null   object
 4   Registered_users  7140 non-null   int64
 5   Region            7140 non-null   object
dtypes: int64(2), object(4)
memory usage: 334.8+ KB

 _____________________________________________

lat_long_df:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 732 entries, 0 to 731
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   State      732 non-null    object
 1   District   732 non-null    object
 2   Latitude   732 non-null    float64
 3   Longitude  732 non-null    float64
dtypes: float64(2), object(2)
memory usage: 23.0+ KB

 _____________________________________________

In [ ]:
#Dropping rows with null values

In [28]:
# 'top_trans_pin_df' seems to have two null values and they are not of significant proportion so dropping them;

top_trans_pin_df.dropna(axis = 'index', inplace = True)
top_trans_pin_df.isnull().sum()

State                 0
Year                  0
Quarter               0
Pincode               0
Transaction_count     0
Transaction_amount    0
Region                0
dtype: int64

In [ ]:
#Changing datatype across all dataframes

In [91]:
for df_name in df_list:
    df = globals()[df_name]
    if 'Year' in df.columns:
        df['Year'] = df['Year'].astype('int')

In [30]:

import pandas as pd

for df_name in df_list:
    df = globals()[df_name]
    if 'Year' in df.columns:
        df['Year'] = pd.to_numeric(df['Year'], errors='coerce')
        df['Year'] = df['Year'].astype('Int64')
        print(df['Year'].dtype)
        globals()[df_name] = df
    else:
        print("Year column not found in dataframe:", df_name)

Int64
Int64
Int64
Int64
Int64
Int64
Year column not found in dataframe: lat_long_df

In [ ]:
#Outlier count across all dataframes

In [31]:
# Everything seems to be alright as far as dtypes and nullvalues are concerned so checking for outliers
# Function to check for outliers

def count_outliers(df):
    outliers = {}
    for col in df.select_dtypes(include=[np.number]).columns:
        if col in ['Transaction_count', 'Transaction_amount']:
            q1 = df[col].quantile(0.25)
            q3 = df[col].quantile(0.75)
            iqr = q3 - q1
            upper_bound = q3 + (1.5 * iqr)
            lower_bound = q1 - (1.5 * iqr)
            outliers[col] = len(df[(df[col] > upper_bound) | (df[col] < lower_bound)])
        else:
            continue
    return outliers

In [93]:
print('OUTLIER COUNT ACROSS DATAFRAMES:\n')

for df_name in df_list:
    df = globals()[df_name]
    outliers = count_outliers(df)
    if len(outliers) == 0:
        pass
    else:
        print(df_name, ":\n\n", outliers, "\n")
        print("\n", 55 * "_", "\n")

OUTLIER COUNT ACROSS DATAFRAMES:

agg_trans_df :

 {'Transaction_count': 652, 'Transaction_amount': 660}


 _______________________________________________________

agg_user_df :

 {'Transaction_count': 893}


 _______________________________________________________

map_trans_df :

 {'Transaction_count': 1811, 'Transaction_amount': 1771}


 _______________________________________________________

top_trans_dist_df :

 {'Transaction_count': 734, 'Transaction_amount': 743}


 _______________________________________________________

top_trans_pin_df :

 {'Transaction_count': 999, 'Transaction_amount': 995}


 _______________________________________________________

In [74]:
#Unique value count across all dataframes

In [94]:
# Function to check for unique value counts and print if count less than 10;

def unique_value_count(df, exclude_cols=[]):
    for col in df.columns:
        if col in exclude_cols:
            continue
        unique_vals = df[col].nunique()
        print(f"{col}: {unique_vals} unique values")
        if unique_vals < 10:
            print(df[col].unique())

In [95]:
print('UNIQUE VALUE COUNT ACROSS DATAFRAMES; \n')

for df_name in df_list:
    df = globals()[df_name]
    print(df_name, ":\n")
    unique_value_count(df, exclude_cols = ['State', 'Year', 'Quarter', 'Percentage'])
    print("\n", 55 * "_", "\n")

UNIQUE VALUE COUNT ACROSS DATAFRAMES;

agg_trans_df :

Transaction_type: 5 unique values
['Recharge & bill payments' 'Peer-to-peer payments' 'Merchant payments'
 'Financial Services' 'Others']
Transaction_count: 3548 unique values
Transaction_amount: 3594 unique values
Region: 6 unique values
['Southern Region' 'North-Eastern Region' 'Eastern Region'
 'Northern Region' 'Central Region' 'Western Region']

 _______________________________________________________

agg_user_df :

Brand: 20 unique values
Transaction_count: 6501 unique values
Region: 6 unique values
['Southern Region' 'North-Eastern Region' 'Eastern Region'
 'Northern Region' 'Central Region' 'Western Region']

 _______________________________________________________

map_trans_df :

District: 727 unique values
Transaction_count: 14566 unique values
Transaction_amount: 14636 unique values
Latitude: 533 unique values
Longitude: 540 unique values
Region: 6 unique values
['Southern Region' 'North-Eastern Region' 'Eastern Region'
 'Northern Region' 'Central Region' 'Western Region']

 _______________________________________________________

map_user_df :

District: 727 unique values
Registered_users: 14351 unique values
App_opens: 10977 unique values
Latitude: 533 unique values
Longitude: 540 unique values
Region: 6 unique values
['Southern Region' 'North-Eastern Region' 'Eastern Region'
 'Northern Region' 'Central Region' 'Western Region']

 _______________________________________________________

top_trans_dist_df :

District: 368 unique values
Transaction_count: 5910 unique values
Transaction_amount: 5920 unique values
Latitude: 300 unique values
Longitude: 299 unique values
Region: 6 unique values
['Southern Region' 'North-Eastern Region' 'Eastern Region'
 'Northern Region' 'Central Region' 'Western Region']

 _______________________________________________________

top_trans_pin_df :

Pincode: 746 unique values
Transaction_count: 7083 unique values
Transaction_amount: 7137 unique values
Region: 6 unique values
['Southern Region' 'North-Eastern Region' 'Eastern Region'
 'Northern Region' 'Central Region' 'Western Region']

 _______________________________________________________

top_user_dist_df :

District: 313 unique values
Registered_users: 5874 unique values
Latitude: 258 unique values
Longitude: 258 unique values
Region: 6 unique values
['Southern Region' 'North-Eastern Region' 'Eastern Region'
 'Northern Region' 'Central Region' 'Western Region']

 _______________________________________________________

top_user_pin_df :

Pincode: 426 unique values
Registered_users: 6882 unique values
Region: 6 unique values
['Southern Region' 'North-Eastern Region' 'Eastern Region'
 'Northern Region' 'Central Region' 'Western Region']

 _______________________________________________________

lat_long_df :

District: 727 unique values
Latitude: 533 unique values
Longitude: 540 unique values
Region: 6 unique values
['Southern Region' 'North-Eastern Region' 'Eastern Region'
 'Northern Region' 'Central Region' 'Western Region']

 _______________________________________________________

In [96]:
def unique_value_count(df, exclude_cols=None):
    if exclude_cols is None:
        exclude_cols = []
    
    for col in df.columns:
        if col in exclude_cols:
            continue
        unique_vals = df[col].nunique()
        print(f"{col}: {unique_vals} unique values")
        if unique_vals < 10:
            print(df[col].unique())

In [ ]:
#Though outliers haven't gave much of an insight, unique value count can be used to gain some good insights

In [97]:
def save_dfs_as_csv(df_list):
    subfolder = 'Miscellaneous'
    if not os.path.exists(subfolder):
        os.makedirs(subfolder)
        
    for df_name in df_list:
        df = globals()[df_name]
        file_path = os.path.join(subfolder, df_name.replace('_df', '') + '.csv')
        df.to_csv(file_path, index=False)

# Calling function to execute

save_dfs_as_csv(df_list)

In [ ]:
#sql

In [ ]:
#Establishing connection and creating cursor

In [98]:
conn = mysql.connector.connect(
  host = "localhost",
  user = "root",
  password = "Samuel@151299"
)

cursor = conn.cursor()

In [ ]:
#cursor.execute("DROP DATABASE IF EXISTS phonepe_pulse")

cursor.execute("CREATE DATABASE phonepe_pulse")

In [99]:
cursor.execute("USE phonepe_pulse")

In [ ]:
#Creating tables
State	Year	Quarter	Transaction_type	Transaction_count	Transaction_amount

In [100]:
cursor.execute('''CREATE TABLE IF NOT EXISTS agg_trans (
                    State VARCHAR(255),
                    Year YEAR,
                    Quarter INTEGER,
                    Transaction_type VARCHAR(255),
                    Transaction_count INTEGER,
                    Transaction_amount FLOAT,
                    Region VARCHAR(255),
                    PRIMARY KEY (State(255), Year, Quarter, Transaction_type(255), Region(255))
                 )''')

cursor.execute('''CREATE TABLE IF NOT EXISTS agg_user (
                    State VARCHAR(255),
                    Year YEAR,
                    Quarter INTEGER,
                    Brand VARCHAR(255),
                    Transaction_count INTEGER,
                    Percentage FLOAT,
                    Region VARCHAR(255),
                    PRIMARY KEY (State(255), Year, Quarter, Brand(255), Region(255))
                 )''')

cursor.execute('''CREATE TABLE IF NOT EXISTS map_trans (
                    State VARCHAR(255),
                    Year YEAR,
                    Quarter INTEGER,
                    District VARCHAR(255),
                    Transaction_count INTEGER,
                    Transaction_amount FLOAT,
                    Latitude FLOAT,
                    Longitude FLOAT,
                    Region VARCHAR(255),
                    PRIMARY KEY (State(255), Year, Quarter, District(255), Region(255))
                 )''')

cursor.execute('''CREATE TABLE IF NOT EXISTS map_user (
                    State VARCHAR(255),
                    Year YEAR,
                    Quarter INTEGER,
                    District VARCHAR(255),
                    Registered_users INTEGER,
                    App_opens INTEGER,
                    Latitude FLOAT,
                    Longitude FLOAT,
                    Region VARCHAR(255),
                    PRIMARY KEY (State(255), Year, Quarter, District(255), Region(255))
                 )''')

cursor.execute('''CREATE TABLE IF NOT EXISTS top_trans_dist (
                    State VARCHAR(255),
                    Year YEAR,
                    Quarter INTEGER,
                    District VARCHAR(255),
                    Transaction_count INTEGER,
                    Transaction_amount FLOAT,
                    Latitude FLOAT,
                    Longitude FLOAT,
                    Region VARCHAR(255),
                    PRIMARY KEY (State(255), Year, Quarter, District(255), Region(255))
                 )''')

cursor.execute('''CREATE TABLE IF NOT EXISTS top_trans_pin (
                    State VARCHAR(255),
                    Year YEAR,
                    Quarter INTEGER,
                    Pincode VARCHAR(255),
                    Transaction_count INTEGER,
                    Transaction_amount FLOAT,
                    Region VARCHAR(255),
                    PRIMARY KEY (State(255), Year, Quarter, Pincode(255), Region(255))
                 )''')

cursor.execute('''CREATE TABLE IF NOT EXISTS top_user_dist (
                    State VARCHAR(255),
                    Year YEAR,
                    Quarter INTEGER,
                    District VARCHAR(255),
                    Registered_users INTEGER,
                    Latitude FLOAT,
                    Longitude FLOAT,
                    Region VARCHAR(255),
                    PRIMARY KEY (State(255), Year, Quarter, District(255), Region(255))
                 )''')

cursor.execute('''CREATE TABLE IF NOT EXISTS top_user_pin (
                    State VARCHAR(255),
                    Year YEAR,
                    Quarter INTEGER,
                    Pincode VARCHAR(255),
                    Registered_users INTEGER,
                    Region VARCHAR(255),
                    PRIMARY KEY (State(255), Year, Quarter, Pincode(255), Region(255))
                 )''')

In [ ]:
#Pushing data into MySQL

In [101]:
def push_data_into_mysql(conn, cursor, dfs, table_columns):
    for table_name in dfs.keys():
        df = dfs[table_name]
        columns = table_columns[table_name]
        placeholders = ', '.join(['%s'] * len(columns))
        query = f"INSERT INTO {table_name} ({', '.join(columns)}) VALUES ({placeholders})"
        for _, row in df.iterrows():
            data = tuple(row[column] for column in columns)
            cursor.execute(query, data)
        conn.commit()
    print("Data successfully pushed into MySQL tables")

In [102]:
# Mapping my_sql tables to pandas dataframes that we have created earlier

dfs = {
    'agg_trans': agg_trans_df,
    'agg_user': agg_user_df,
    'map_trans': map_trans_df,
    'map_user': map_user_df,
    'top_trans_dist': top_trans_dist_df,
    'top_trans_pin': top_trans_pin_df,
    'top_user_dist': top_user_dist_df,
    'top_user_pin': top_user_pin_df
}

# Mapping table name to associated columns for each table

table_columns = {
    'agg_trans': list(agg_trans_df.columns),
    'agg_user': list(agg_user_df.columns),
    'map_trans': list(map_trans_df.columns),
    'map_user': list(map_user_df.columns),
    'top_trans_dist': list(top_trans_dist_df.columns),
    'top_trans_pin': list(top_trans_pin_df.columns),
    'top_user_dist': list(top_user_dist_df.columns),
    'top_user_pin': list(top_user_pin_df.columns)
}

In [103]:
push_data_into_mysql(conn, cursor, dfs, table_columns)

Data successfully pushed into MySQL tables

In [104]:
# Get list of tables in database

cursor.execute("SHOW TABLES")
tables = cursor.fetchall()

# Loop through tables and get count of rows and columns in MySQL

for table in tables:
    table_name = table[0]
    cursor.execute(f"SELECT COUNT(*) FROM {table_name}")
    row_count = cursor.fetchone()[0]
    cursor.execute(f"SELECT COUNT(*) FROM information_schema.columns WHERE table_name='{table_name}'")
    column_count = cursor.fetchone()[0]

    # Check if shape of DataFrame matches count of rows and columns in table

    df = dfs[table_name]
    if df.shape == (row_count, column_count):
        print(f"{table_name} table has {row_count} rows and {column_count} columns and shape matches DataFrame.")
    else:
        print(f"{table_name} table has {row_count} rows and {column_count} columns but shape does not match DataFrame.")

cursor.close()
conn.close()

agg_trans table has 3594 rows and 7 columns and shape matches DataFrame.
agg_user table has 6732 rows and 7 columns and shape matches DataFrame.
map_trans table has 14636 rows and 9 columns and shape matches DataFrame.
map_user table has 14640 rows and 9 columns and shape matches DataFrame.
top_trans_dist table has 5920 rows and 9 columns and shape matches DataFrame.
top_trans_pin table has 7137 rows and 7 columns and shape matches DataFrame.
top_user_dist table has 5920 rows and 8 columns and shape matches DataFrame.
top_user_pin table has 7140 rows and 6 columns and shape matches DataFrame.